/* ------- CSS Sticky Footer ---------- */
html, body, .flex-body, #root {
  height: 100%;
}
.flex-body {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;

}
/* ------------------------------------ */

body {
  margin: 0px;
  padding: 0px;
  --mdc-theme-primary: #558B2F;
  --mdc-theme-secondary: #E91E63; 
}
.primary-color{
  color: #558B2F;
}
.secundary-color{
  color: #E91E63;
}
