.form-container {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  padding: 4px 8px; 
}

.units-cell{
  width: 72px;
  margin: 8px 8px;
}

.quantity-units-align{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.align-rigth{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 8px;
}