.button-container {
  /* background: #558B2F;
  color: #ffffff; */
  width: 121px;
  height: 44px;
  margin: 2px 3px;
  border-radius: 3px; }
  .button-container .align-elements {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around; }
