@media (max-width: 420px) {
  .page-container {
    margin: 0px auto;
    padding: 8px; }
  .nutrition-table {
    display: table; }
  .center {
    text-align: center; }
  td {
    padding: 3px; }
  td, th {
    display: table-cell;
    vertical-align: inherit; }
  .left {
    text-align: left; }
  .right {
    text-align: right; }
  .main-divider {
    background-color: #558B2F;
    height: 8px; }
  .second-divider {
    background-color: #558B2F;
    padding: 6px;
    height: 1px; }
  .third-divider {
    background-color: #558B2F;
    padding: 4px;
    height: 1px; }
  .divider {
    background-color: #558B2F;
    padding: 0px;
    height: 1px; } }
