@import './variables.scss';

.page-container{
margin:0px auto;
}
.nutrition-table{
  display: table;
}
.center{
  text-align:center;
}
td{
  padding: 3px;
}
td, th{
  display: table-cell;
  vertical-align: inherit;
}
.left{
  text-align: left;
}
.right{
  text-align: right;
}
.main-divider{
  background-color:#000000; 
  height:10px;
}
.second-divider{
  background-color:#000000; 
  padding: 8px;
  height:1px;
}
.third-divider{
  background-color:#000000; 
  padding: 4px;
  height:1px;
}
.divider{
  background-color:#000000; 
  padding: 0px;
  height:1px;
}