.recipe-img{
  margin-top: 16px;
  /* margin-left: 16px; */
  /* height: 300px; */
  width: 100%;
}
.icons-align{
  justify-content: space-around;
}
.row-align{
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-evenly; */
}
.p-tags{
  color:#0D47A1;
}