.my-card {
  background-position: top;
  background-repeat: no-repeat;
  background-color: #fafafa;
  background-size: contain;
  height: 350px;
  width: 350px;
  border-radius: 2px;
  padding: 4px;
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; }
  .my-card .text-card {
    display: flex;
    flex-direction: column;
    padding: 4px;
    align-content: center;
    justify-content: flex-start; }
    .my-card .text-card h6 {
      margin: 1px; }
      .my-card .text-card h6 .text-tags {
        margin: 1px; }
        .my-card .text-card h6 .text-tags .icon-size {
          height: 24px;
          width: 24px;
          margin: 2px; }
