@import './variables.scss';

@media (max-width: 320px){
$default-form-width: 350px;

.align-right{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin: 8px 0px;
}

.highlight-line{
  background-color: #FAFAFA;
  padding: 4px 4px;
}
.btn{
&-add-style{
  background-color: $primary-color !important;
}
&-save-style{
  background-color: $secondary-color !important;
  margin: 8px;
}
}
.time-cell{
  width: 72px;
}

.time-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 0px 8px;

  p {
    width: 75px;
  }
}

.form {
  &-text-field {
    width: $default-form-width;
  }

  &-textarea {
    width: $default-form-width;
    background-color: #eee;
  }

  &-container {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    padding: 4px 8px; 
    overflow: hidden;
  }
}
}