.my-card {
  background: top / contain no-repeat 
              url("./Green Warrior Protein Smoothie.png"),
              #fafafa 35%/25% ;
  height: 350px;
  width: 350px;
  border-radius: 2px;
  padding: 4px;
  margin-top:8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  .text-card{
    display: flex;
    flex-direction: column;
    padding: 4px;

    align-content: center;
    justify-content: flex-start;

  h6{
    margin:1px;
  
  .text-tags{
    margin:1px;
  
  .icon-size{
    height: 24px;
    width: 24px;
    margin: 2px;

         }  
      }
    }
  }
}