.recipe-img{
  margin-top: 16px;
  /* margin-left: 16px; */
  /* height: 300px; */
  width: 100%;
}
.flex-justify-content{
  justify-content: space-around;
}
.row-align{
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-evenly; */
}
.p-tags{
  color:#0D47A1;
}
.select-menu{
  border: 1px solid #000000;
}
.style-list{
  list-style: none;
}