@import './variables.scss';

@media (max-width: 320px){
$tags-color: #0D47A1;

.recipe { 
  
  &-img {
    width: 95%;
  }

  &-page-container {
    padding: 8px 16px;
    overflow: hidden;

    & .favorite {
      color: $secondary-color;
    }
  }

  &-servings {
    width: 50px;
  }
}
.space-between-align{
  justify-content:space-between;
}
.row-align{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.row-col-align{
  display: flex;
  flex-direction: column;
}
.tilte{
  margin: 16px 0px;
}
.subtilte{
  font-weight:bold;
}
.p-tags{
  color:$tags-color;
  padding-left: 8px;
}

.divider-line{ 
  width:100%; 
  height:1px; 
  background: #DEDEDE 
}
  .top-botton-margin-8{
    margin: 8px 0px;
  }
  .serving-cell{
    height: 44px;
  }
}