@import './variables.scss';


.form-container {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  padding: 4px 8px; 
  overflow: hidden;
}

.align-right{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin: 8px 0px;
}

.highlight-line{
  background-color: #FAFAFA;
  padding: 4px 4px;
}
.btn-add-style{
  background-color: $primary-color !important;
}

.time-cell{
  width: 72px;
}

.time-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 0px 8px;

  p {
    width: 75px;
  }
}

.form-text-field {
  width: 350px;
}