.form-container {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  padding: 4px 8px;
  overflow: hidden; }

.align-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin: 8px 0px; }

.highlight-line {
  background-color: #FAFAFA;
  padding: 4px 4px; }

.btn-add-style {
  background-color: #558B2F !important; }
